table {
    border: 1px solid #000;
    border-collapse: collapse;
}

tr {
    border: 1px solid #000;
    box-sizing: border-box;
}

th {
    border: 1px solid #000;
    box-sizing: border-box;
}

td {
    border: 1px solid #000;
    box-sizing: border-box;
}
